.card {
  background-color: #363636;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(86, 86, 86, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  width: 220px;
  display:flexbox;
  flex-direction: column;
  justify-content: space-between;
}
.boxcard{
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.card:hover {
  transform: scale(1.02);
}

.imagen {
  width: 50%;
  height: 150px;
  object-fit:contain;
}

.info {
  padding: 10px;
}

.info h3 {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.info p {
  margin: 4px 0;
  font-size: 0.9rem;
  color: rgb(194, 194, 194)
}

.botones {
  display: flex;
  justify-content: space-between;
  flex-direction:row;
  gap: 8px;
  padding: 10px;
}

.vista {
  opacity: 0.6;
  filter: grayscale(70%);
}
