.filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
    align-items: center;
    justify-content: flex-start;
  }
  
  .filtros input,
  .filtros select {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .filtros button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    background-color: rgb(184, 0, 0);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 0 1rem;
  }
  
  .filtros button:hover {
    background-color: #3949ab;
  }
  