
.home {
  width: 90%;      
  height: auto;    
  margin: 2rem auto; 
  padding: 1rem;   
  box-sizing: border-box;
}

  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;    
  }
  
  .vistas {
    margin-top: 40px;
    border-top: 2px solid #ccc;
    padding-top: 20px;
  }
  
  .vistas .card {
    opacity: 0.6;
  }

  .titulo{
    background-color: #282828;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #fff;
  }

  .h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #fff;
  }
  