@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header {
            width: 100vw;
            background-color: #404040;
            color: white;
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            position: static;
  }
  

  .logo {
    height: 50px;
    object-fit: contain;
  }
  
  .header h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin: 0;
    color: rgb(184, 0, 0);
    font-size: 3.5rem;
  }
  
  .header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  .header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .header nav a:hover {
    text-decoration: underline;
  }
  